.container {
  display: flex;
  margin: var(--majorOffset) 0 0;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20
}

.container::after {
  content: "";
  max-width: 400px;
  width: 100%
}

@media (max-width: 720px) {
  .container {
    justify-content: center;
  }
}
