.search input {
  width: 400px;
  height: var(--majorOffset);
  padding: 16px;
  box-sizing: border-box;
  font: normal 300 24px/30px var(--fontFamily);
  color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background: var(--white);
  color: var(--black);
}
