@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,200,300,400,600");

html {
  --grey: #f8f8f8;
  --white: #fff;
  --black: #000;
  --fontFamily: "Source+Sans+Pro", sans-serif;
  --majorOffset: 64px;
  --topOffset: 183px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--grey);
}
